.bodyApp {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 7em;
  background-image: url(https://img.freepik.com/fotos-premium/arpillera-sobre-fondo-blanco-madera_88281-1485.jpg?w=740);
  background-size: cover;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.headerParrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60%;
  margin: 10px;
  font-weight: lighter;
}

.contenedorItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.tituloCard {
  background-color: #9fac82a8;
}

.footerUl {
  padding-left: 20px;
}

.cardFoot {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.imagenItem {
  max-height: 270px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cart{
  background-color: #9fac82a8;
  margin: 10px;
  border-radius: 1rem;
}

.totalForm{
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight:bolder;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 35px;
}

.form{
  background-color: white;
  font-size: larger;
  margin: 10px;
  border-radius: 1rem;
  padding: 10px;
}

.congratsCard{
  border-radius: 1rem;
  margin: 10px;
}